.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:white;
    padding:10px;
    margin:auto;
    width:100%;
    
}
.nav-links{
    display:flex;
    align-items:center;
    gap:15px
}
.title{
    font-size:25px;


}