*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0px;
}

.sidebar{
    width:322px;
    background:#001f54;
    padding:30px 20px;
    
    color:white;
    height:100vh;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
    font-size:32px;
    font-weight:bold;
    margin-bottom:35px;
}

.logo i{
    font-size:34px;
}

.menu{
    list-style:none;
}

.menu li{
    margin-bottom:18px;
}

.menu li a{
    text-decoration:none;
    color:white;
    display:flex;
    align-items:center;
    gap:20px;
    padding:16px 20px;
    border-radius:15px;
    font-size:20px;
    transition:0.3s;
}

.menu li a i{
    font-size:24px;
    width:30px;
}

.menu li.active a{
    background:linear-gradient(
        to right,
        #1f7aff,
        #2f8fff
    );
    box-shadow:0 4px 15px rgba(0,0,0,0.3);
}

.menu li a:hover{
    background:#0a4fcf;
}